.container {
  display: flex;
  gap: 20px;
  line-height: 1.6;
  max-width: 620px;
  margin: auto;
  flex-flow: column;
}

input[type="text"],
input[type="number"] {
  padding: 0.9rem;
  border-radius: 10px;
  border: 1px solid #fff;
}

.namep {
  font-size: larger;
  font-style: oblique;
  font-weight: bolder;
}

.abbrevations {
  background-color: #000;
  color: #fff;
  padding: 1.5rem 1.7rem;
  border-radius: 10rem;
  margin-top: 20px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.container2 {
  background-color: #208d63;
  box-shadow: 1px 2px 3px #000;
  border-radius: 5px;
  padding: 2rem;
  font-weight: bold;
  font-size: large;
  color: #f1f1f1;
}

.fix {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
  width: 100%;
}

button {
  font-weight: bold;
  padding: 0.9rem 3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid wheat;
  background-color: #002c7e;
  color: #fff;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.actors2 h4 {
  filter: grayscale(50%);
  background-color: #e9e9e9;
  opacity: 0.9;
  border-radius: 10px;
  color: black;
  padding: 1vw;
  display: flex;
  flex-wrap: wrap;
}

.same {
  margin-left: 85px;
}

.cross {
  position: absolute;
  margin-left: 25vw;
  margin-top: -70px;
  font-size: larger;
  font-weight: bolder;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 5px;
  height: 50px;
  background: linear-gradient(45deg, black, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0);
  }
}
